body {
  background: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}
.App-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  color:brown;
}
.App-footer {
  text-align: center;
  margin-top: 20px
}
.App .Results h2 {
  margin-top: 10px;
  color: brown
}