.App-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  color:brown;
}
.App-footer {
  text-align: center;
  margin-top: 20px
}
.App .Meaning {
  text-align: left;
}
.App .Meaning h4 {
  color: brown;
}
.App .Results h2 {
  margin-top: 10px;
  color: brown
}