.Footer {
  font-size: 12px;
}
.Footer .contact-details {
    text-align: center;
  }
  .Footer .email {
    color: #347474;
    font-weight: bolder;
  }
  .Footer .instagram {
    color: #347474;
    font-weight: bolder;
  }
  .Footer .link {
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    color: blue;
  }
  .Footer .link:hover {
    text-decoration: underline;
  }
  .Footer .link-github {
    display: block;
    text-align: center;
  }